<%= render partial: 'posts/new' %>
<br><br><br>
<%= render partial: @posts.reverse%>
<br><br><br>
<h4>Tags Cloud</h4>
<% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
<% end %>
<%= link_to 'test tag', tag_path('tags') %>
